@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-transform: none;
  text-decoration: none;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header .icons div,
.header .icons a, .header #search-form label, .products .box-container .box .icons a, .featured .featured-slider .slide .icons a, .contact .icons-container .icons i {
  cursor: pointer;
  color: #fff !important;
  -webkit-text-stroke: 0.15rem #130f40;
}

.header .icons div:hover,
.header .icons a:hover, .header #search-form label:hover, .products .box-container .box .icons a:hover, .featured .featured-slider .slide .icons a:hover, .contact .icons-container .icons i:hover {
  -webkit-text-stroke: 0.22rem #eb4d4b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #eb4d4b;
  border-radius: 5rem;
}

section {
  padding: 2rem 10%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.9rem;
  color: #fff;
  background-color: #eb4d4b;
  padding: 0.7rem 2.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
}

.btn:hover {
  background-color: #130f40;
}

#scroll-top i {
  position: fixed;
  top: -105%;
  right: 7rem;
  z-index: 10002;
  background-color: #eb4d4b;
  color: #fff;
  font-size: 2.5rem;
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}

#scroll-top i:hover {
  background-color: #130f40;
  opacity: 1;
}

#scroll-top i.active {
  top: 88%;
}

#page-loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #fff;
}

#page-loading.active {
  left: -110%;
}

.heading {
  font-size: 4rem;
  color: #130f40;
  padding-bottom: 3.5rem;
  text-align: center;
  text-transform: capitalize;
}

.heading span {
  color: #eb4d4b;
  text-transform: capitalize;
}

.swiper-button-next {
  right: 3%;
}

.swiper-button-prev {
  left: 3%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid #eb4d4b;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #eb4d4b;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #eb4d4b;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2.5rem;
}

.swiper-pagination-bullet {
  background-color: #eb4d4b;
  width: 1.5rem;
  height: 1.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 2rem 10%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
}

.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
  cursor: pointer;
}

.header .logo i {
  color: #eb4d4b;
  margin-right: 0.7rem;
}

.header .navbar a {
  font-size: 1.8rem;
  color: #130f40;
  margin: 0 1rem;
  text-transform: capitalize;
}

.header .navbar a:hover {
  color: #eb4d4b;
}

.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  color: #130f40;
  margin-left: 1.8rem;
}

.header #search-form {
  position: absolute;
  top: 117%;
  right: -105%;
  width: 50rem;
  height: 5rem;
  background: #fff;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.header #search-form #search-box {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: #130f40;
  text-transform: none;
  padding: 0 1rem;
}

.header #search-form label {
  font-size: 2.2rem;
  margin-right: 1.5rem;
}

.header #search-form.active {
  right: 2rem;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  opacity: 1;
}

.header #menu-btn {
  display: none;
}

.home {
  padding: 0;
  padding-top: 7.8rem;
}

.home .home-slider .slide {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  padding-left: 8%;
  background-size: cover !important;
  background-position: center !important;
}

.home .home-slider .slide .content span {
  font-size: 1.8rem;
  color: #666;
}

.home .home-slider .slide .content h3 {
  font-size: 5rem;
  color: #130f40;
  padding-top: 1rem;
  text-transform: capitalize;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.banner-container .banner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  overflow: hidden;
  height: 38rem;
  position: relative;
}

.banner-container .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-container .banner .content span {
  font-size: 1.7rem;
  color: #666;
}

.banner-container .banner .content h4 {
  font-size: 3.2rem;
  color: #130f40;
}

.products .filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2.5rem;
}

.products .filter-button .buttons {
  font-size: 1.9rem;
  color: #666;
  text-transform: capitalize;
  cursor: pointer;
}

.products .filter-button .buttons:hover, .products .filter-button .buttons.active {
  color: #eb4d4b;
  text-decoration: underline;
}

.products .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .box-container .box {
  width: 25rem;
  overflow: hidden;
  position: relative;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.products .box-container .box.hide {
  display: none;
}

.products .box-container .box.active {
  -webkit-animation: fadeUp 0.4s ease-in;
          animation: fadeUp 0.4s ease-in;
}

.products .box-container .box .icons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 35rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.59);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.products .box-container .box .icons a {
  font-size: 1.9rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
}

.products .box-container .box:hover .icons {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .box-container .box:hover .image img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.products .box-container .box .content {
  padding: 1rem 1.4rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}

.products .box-container .box .content .price {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .box-container .box .content .price .amount {
  font-size: 2.2rem;
  color: #130f40;
  font-weight: bolder;
}

.products .box-container .box .content .price .cut {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.products .box-container .box .content .price .offer {
  font-size: 1.7rem;
  color: #eb4d4b;
  font-weight: 600;
}

.products .box-container .box .content .starts i {
  font-size: 2rem;
  color: gold;
  margin-right: 0.3rem;
}

.products .box-container .box .content .starts span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666;
}

.deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(21%, #eee));
  background: linear-gradient(#fff 20%, #eee 21%);
}

.deals .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.deals .image img {
  width: 40rem;
}

.deals .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.deals .content span {
  font-size: 1.8rem;
  color: #eb4d4b;
  text-transform: capitalize;
}

.deals .content h3 {
  font-size: 4.5rem;
  color: #130f40;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.deals .content p {
  font-size: 2.2rem;
  color: #666;
}

.featured .featured-slider .slide {
  overflow: hidden;
  position: relative;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.featured .featured-slider .slide .icons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 32rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.59);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.featured .featured-slider .slide .icons a {
  font-size: 1.9rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
}

.featured .featured-slider .slide:hover .icons {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured .featured-slider .slide .image {
  height: 32rem;
  width: 100%;
  overflow: hidden;
}

.featured .featured-slider .slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured .featured-slider .slide:hover .image img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.featured .featured-slider .slide .content {
  padding: 1rem 1.4rem;
}

.featured .featured-slider .slide .content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}

.featured .featured-slider .slide .content .price {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured .featured-slider .slide .content .price .amount {
  font-size: 2.2rem;
  color: #130f40;
  font-weight: bolder;
}

.featured .featured-slider .slide .content .price .cut {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.featured .featured-slider .slide .content .price .offer {
  font-size: 1.7rem;
  color: #eb4d4b;
  font-weight: 600;
}

.featured .featured-slider .slide .content .starts i {
  font-size: 2rem;
  color: gold;
  margin-right: 0.3rem;
}

.featured .featured-slider .slide .content .starts span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666;
}

.reviews {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}

.reviews .review-slider .slide {
  border-radius: 0.5rem;
  background-color: #fff;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  padding: 2.5rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.reviews .review-slider .slide p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
  height: 7rem;
}

.reviews .review-slider .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.reviews .review-slider .slide .user img {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.reviews .review-slider .slide .user .info h5 {
  font-size: 2rem;
  color: #130f40;
  font-weight: 400;
  text-transform: capitalize;
}

.reviews .review-slider .slide .user .info span {
  font-size: 1.7rem;
  color: #eb4d4b;
}

.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.contact .icons-container .icons i {
  font-size: 2.2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contact .icons-container .icons address, .contact .icons-container .icons a {
  font-size: 1.8rem;
  color: #130f40;
  font-weight: 700;
  margin: 0.8rem 0;
}

.contact .icons-container .icons address p, .contact .icons-container .icons a p {
  font-size: 1.5rem;
  color: #eb4d4b;
  font-weight: 500;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.5rem;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.6rem;
}

.contact .row form h3 {
  font-size: 2.8rem;
  color: #130f40;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.contact .row form .inputBox input, .contact .row form textarea {
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
  padding: 1.5rem;
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.blogs .blogs-slider .slide {
  border: 0.16rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 33rem;
  cursor: pointer;
}

.blogs .blogs-slider .slide .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}

.blogs .blogs-slider .slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .blogs-slider .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .blogs-slider .slide .content {
  padding: 2rem;
}

.blogs .blogs-slider .slide .content h3 {
  font-size: 2.2rem;
  color: #130f40;
}

.blogs .blogs-slider .slide .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 0.5rem 0;
  height: 6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.blogs .blogs-slider .slide .content .icons {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.16rem solid rgba(0, 0, 0, 0.3);
}

.blogs .blogs-slider .slide .content .icons i {
  font-size: 1.7rem;
  color: #eb4d4b;
  display: block;
  margin-bottom: 1.5rem;
}

.blogs .blogs-slider .slide .content .icons i span {
  color: #666;
  margin-left: 1rem;
}

.footer {
  background-color: #eee;
  padding: 3.5rem 10%;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.footer .box-container .box p {
  font-size: 1.45rem;
  color: #666;
}

.footer .box-container .box .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.footer .box-container .box .icons i {
  font-size: 1.8rem;
  color: #eb4d4b;
  width: 2.9rem;
}

.footer .box-container .box .icons address, .footer .box-container .box .icons a {
  font-size: 1.3rem;
  color: #130f40;
  margin-bottom: 0;
}

.footer .box-container .box a {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: capitalize;
}

.footer .box-container .box a i {
  color: #eb4d4b;
  margin-right: 0.8rem;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  color: #eb4d4b;
}

.footer .box-container .box a:hover i {
  margin-left: 1rem;
}

.footer .box-container .box .follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

.footer .box-container .box .follow-us a {
  font-size: 2.7rem;
  color: #fff;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  border-radius: 50%;
  text-decoration: none;
}

.footer .box-container .box .follow-us a:nth-child(1) {
  background-color: #1877F2;
}

.footer .box-container .box .follow-us a:hover:nth-child(1) {
  -webkit-box-shadow: 0 0.5rem 1rem #1877F2;
          box-shadow: 0 0.5rem 1rem #1877F2;
}

.footer .box-container .box .follow-us a:nth-child(2) {
  background-color: #0099FF;
}

.footer .box-container .box .follow-us a:hover:nth-child(2) {
  -webkit-box-shadow: 0 0.5rem 1rem #0099FF;
          box-shadow: 0 0.5rem 1rem #0099FF;
}

.footer .box-container .box .follow-us a:nth-child(3) {
  background-color: #E4405F;
}

.footer .box-container .box .follow-us a:hover:nth-child(3) {
  -webkit-box-shadow: 0 0.5rem 1rem #E4405F;
          box-shadow: 0 0.5rem 1rem #E4405F;
}

.footer .box-container .box .follow-us a:nth-child(4) {
  background-color: #1DA1F2;
}

.footer .box-container .box .follow-us a:hover:nth-child(4) {
  -webkit-box-shadow: 0 0.5rem 1rem #1DA1F2;
          box-shadow: 0 0.5rem 1rem #1DA1F2;
}

.footer .box-container .box .follow-us a:nth-child(5) {
  background-color: #34465D;
}

.footer .box-container .box .follow-us a:hover:nth-child(5) {
  -webkit-box-shadow: 0 0.5rem 1rem #34465D;
          box-shadow: 0 0.5rem 1rem #34465D;
}

.footer .box-container .box .follow-us a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer .credit-footer {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  border-top: 0.16rem solid rgba(0, 0, 0, 0.3);
}

.footer .credit-footer span {
  color: #eb4d4b;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}

@media (max-width: 991px) {
  html {
    font-size: 57%;
  }
  .header {
    padding: 2rem;
  }
  .home .home-slider .swiper-button-next {
    right: 2rem;
  }
  .home .home-slider .swiper-button-prev {
    left: 2rem;
  }
  .home .home-slider .swiper-button-next,
  .home .home-slider .swiper-button-prev {
    width: 4.5rem;
    height: 4.5rem;
  }
  .home .home-slider .swiper-button-next::after,
  .home .home-slider .swiper-button-prev::after {
    font-size: 2rem;
  }
  .products {
    padding: 2rem 5.4%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 54%;
  }
  section {
    padding: 2rem 4%;
  }
  .header {
    padding: 2.5rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 0.16rem solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar a {
    display: block;
    font-size: 2.2rem;
    margin: 1.5rem 2.5rem;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header #search-form {
    top: 100%;
    width: 100%;
    border-radius: 0;
  }
  .header #search-form.active {
    right: 0;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .home .home-slider .slide {
    padding-left: 3rem;
  }
  .home .home-slider .swiper-button-next {
    top: 90%;
    right: 2rem;
  }
  .home .home-slider .swiper-button-prev {
    top: 90%;
    right: 7rem;
    left: auto;
  }
  .home .home-slider .swiper-button-next,
  .home .home-slider .swiper-button-prev {
    width: 3.8rem;
    height: 3.8rem;
  }
  .home .home-slider .swiper-button-next::after,
  .home .home-slider .swiper-button-prev::after {
    font-size: 1.7rem;
  }
  .products {
    padding: 2rem 4%;
  }
  .footer .box-container .box a {
    margin-bottom: 1rem;
  }
  .footer .box-container .box .follow-us a {
    font-size: 1.8rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 51%;
  }
  .home .home-slider .swiper-button-prev {
    display: block;
    right: 7rem;
    text-align: center;
    line-height: 4rem;
  }
  .featured .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 49%;
  }
  .heading {
    font-size: 3rem;
  }
  .home .home-slider .slide .content h3 {
    font-size: 4rem;
  }
  .banner-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .banner-container .banner .content {
    right: 1.5rem;
  }
  .banner-container .banner .content h4 {
    font-size: 2.6rem;
  }
  .products .box-container .box {
    width: 90%;
    gap: 3rem;
  }
  .deals .image img {
    width: 100%;
  }
  .deals .content {
    padding-top: 2rem;
    text-align: center;
  }
  .deals .content h3 {
    font-size: 3rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
  .blogs .blogs-slider .swiper-button-prev {
    display: block;
    right: 7rem;
    left: auto;
    text-align: center;
    line-height: 6rem;
  }
}
/*# sourceMappingURL=style.css.map */